.projects__section {
  padding: 2rem 0;
}

.project__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.project__item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.project__item:hover,
.active-project {
  background-color: #333;
  color: #fff;
}

.project__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project__card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project__card:hover {
  transform: translateY(-10px);
}

.project__img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.project__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project__description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project__button {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project__button-icon {
  margin-left: 0.5rem;
}

.project__button:hover {
  color: #007BFF;
}