@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  animation: drop 0.5s forwards;
}

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.blur-md {
  filter: blur(4px);
  transition: filter 0.5s;
}

.relative .blur-md {
  filter: none; 
}


.bounce-animation {
  animation: bounce 4s infinite;
  transform-origin: bottom;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.input-field {
  border: 2px solid #ccc; /* Adjust border color as needed */
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  z-index: 20;
}

.input-field:focus {
  outline: none;
  border-color: #666; /* Adjust focus border color as needed */
  z-index: 20;
}

textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
  z-index: 20;
}
